<h2>Keep in touch with <%=@contact.name() %></h2>

<h3>Email: <%= @contact.email() %></h3>
<h3>Phone: <%= @contact.phone() %></h3>



</br>
<h4>Add another number for <%= @contact.name %>:</h4>
<form action="/phones" method="post">
  <label for="mobile">Mobile:</label>
  <input id="mobile" name="mobile" type="text" placeholder="<%= @contact.phone() %>">
  <label for="work">Work:</label>
  <input id="work" name="work" type="text">
  <label for="home">Home:</label>
  <input id="home" name="home" type="text">
  <button type="submit">Add New Numbers</button>
</form>
