<h2>Keep in touch with <%=@contact.name() %></h2>

<h3>Email: <%= @contact.email() %></h3>
<h3>Phone: <%= @contact.phone() %></h3>



</br>
<h4>Add another number for <%= @contact.name %>:</h4>
<form action="/phones" method="post">
  <label for="another">Number</label>
  <input id="another" name="another" type="text" placeholder="xxx xxx-xxxx">
  <label for="type"> Type (cell/home/work)</label>
  <input id="type" name="type" type="text">
  <input id="person" name="person" type="hidden" value="<%= @contact.id() %>">
  <button type="submit">Another Number?</button>
</form>
